
.backburguer {
background-color: var(--black);
padding: 0.5px;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  align-items: center;
    
}

.sub-text h2 {
  text-align: center;
  color: var(--yellow);
  font-weight: 400;
  font-size: 25px;
  margin: 8vh; 
}

.burguer {
  text-align: center;
  align-items: center;
  justify-content: center;
  
   
}

.burguer img {
  width: 90vw;
}

.sub-text b {
  color: var(--red);
}

.text h2 {
  color: var(--white);
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}
.text h3 {
  color: var(--red);
  font-weight: bold;
  font-size: 2em;
  
}
.text p {
  color: var(--white);
  text-align: center;
  font-weight: 200;
  font-size: 1em;
  padding: 0 3em;
  margin-bottom: 4em;
}


.cardapio {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5em;
    
}

.cardapio img {
  width: 60vw;
}
.cardapio h3 {
  color: var(--red);
  font-size: 25pt;
  margin-bottom: 15px;
}

.cardapio p {
  width: 70%;
  margin: auto;
  color: var(--black);
  margin-bottom: 5em;
}


.acompanhamentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.acompanhamentos img {
    text-align: center;
    max-width: 80%;
}

  .acompanhamentos h3 {
    color: var(--red);
  font-size: 25pt;
  margin-bottom: 15px;
  }

.acompanhamentos p {
  width: 70%;
  margin: auto;
  color: var(--black);
  margin-bottom: 5em;
}

  .combo{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  .combo h3{
      font-size: 15pt;
      margin: 0 10px;
  }
  .combo b{
      color: var(--red);
      font-size: 4em;
  }

  .combo img{
      width: 80%;
      margin: 20px 0;
  }



  @media (min-width: 760px) {

.burguer img {
      max-width: 80%;
}

.sub-text h2 { 
  font-size: 40px;
   
}
    
.text h2 {
  font-size: 3em;
  
}
.text h3 {  
  font-size: 4em;
  
}
.text p { 
  font-size: 2em;
  
}

.cardapio img {
  max-width: 50%;
}
.cardapio h3 {
   font-size: 30pt;
  
}

.cardapio p { 
  font-size: 25px;
}

.acompanhamentos img {    
    width: 40vw;
}

.acompanhamentos h3 {  
  font-size: 30pt;
   }

.acompanhamentos p {
  font-size: 25px;
}

.combo h3{
  font-size: 25pt;
   
}
.combo b{
  color: var(--red);
  font-size: 4em;
}

.combo img{
  width: 70vw;
  margin: 20px 0;
}

}

  @media (min-width: 1200px) {

  .section {
    width: 100%;
    display: flex;
      }

  .sub-text h2 {    
    margin: 50px auto;
    font-size: 40px;
  }

  .burguer {
    display: flex;
    flex-direction: row;
  }

 .text {
   margin-left: -150px;
 }

  .text h2 {    
    font-size: 2em;
    margin: 90px 0 0px;
    
  }

  .text h3 {
    font-size: 5em;
    
  }

  .text p {
    font-size: 20px;
    padding: 0 20px;
  }
  .burguer img {
    width: 100vw;
  }
  .cardapio {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0;
  }
  .cardapio img {
    max-width: 40%;
  }
  .cardapio h3 {    
    font-size: 25pt;
    margin-bottom: 5px;
  }
  .cardapio p {
    width: 70%;
    margin: auto;
    font-size: 15px;
  }
  .cardapio > div {
    flex: 400px;
    margin: 20px;
    text-align: center;
  }
  .acompanhamentos {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  
  .acompanhamentos img {
      text-align: center;
      max-width: 50%;
  }
  .acompanhamentos > div {
      flex: 300px;
      margin: 20px;
      text-align: center;
    }
    .acompanhamentos h3 {     
      font-size: 25pt;
      margin-bottom: 5px;
    }

    .acompanhamentos p {
      font-size: 15px;
    }

    .combo{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .combo h3{
        font-size: 20pt;
        margin: auto;
    }
    .combo b{       
      font-size: 100px;
    }
    
    .combo img{
        max-width:40%;
        margin-right: 10vw;
    }

  }


 
  @media (min-width: 1920px) {

  .burguer img {
    width: 70vw;
  }

  .text p {
    padding: 0 20%;
  }
  
.cardapio {
  display: flex;
  flex-wrap: wrap;
}


 .cardapio > div {
  flex: 500px;
  margin: 20px;
 }
  
  

.combo img {
  width: 30vw;
}

.combo h3{
  font-size: 30pt;
  margin: auto;
}
.combo b{       
font-size: 150px;
}

}

/*
  @media (max-width: 910px) {
    .combo b{
      color: red;
      
    font-size: 10vw;
  }
    .footer nav {
      display: none;
    }
    .header {
      background-image: url(../public/assets/images/background-cardapio-mobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      background-position: bottom;
    }
    .burguer {
      display: block;
      margin: auto;
      text-align: center;
    }
    .text h2 {
      margin: auto;
    }
    .cardapio {
      margin: 150px 0;
    }
  
    .text p {
      color: black;
      font-family: "h1";
      width: 95%;
      margin: auto;
    }
  }

  */