.header{
  background-image: url(../public/assets/images/background-register-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-position: bottom;
}

.hamburguer{
  margin-top: 150px;
}
.hamburguer h1{
 color: var(--white);
 margin-left: 30px;
 font-family: Montserrat;
 font-weight: 200;
 font-size: 30px;
}
.hamburguer b{
color: var(--yellow);
font-family: Montserrat;
font-weight: 400;
font-size: 30px;
}

.menu{
  display: flex;
  justify-content: space-between;
}
.menu ul {
  list-style: none;
  margin: 0;
  display: flex;
  width: 40%;
}
.menu li {
  margin: 20px;
}
.menu ul a {
  color: var(--white);
  text-decoration: none;
  font-family: "h1";
}

.menu ul a:hover{
  color: var(--red);
}
.menu img {
  width: 40px;
  
}

.net-nav{
  display: none;
}
.net-nav a{
  margin: 15px;
  width: 12%;
}
.redes-nav{
  width: 25%;
}
.logo{
  margin: 0px 260px 0px 77px;
}
.logo img{
  width: 100px;
}
.logo img:hover{
  color: var(--red);
}
.facebook:hover{
  background-color: var(--blue);
  border-radius: 40px;
}
.whatsapp:hover{
  background-color: var(--green);
  border-radius: 40px;
}
.Instagram:hover{
 background-color: var(--instagram);
  border-radius: 40px;
}
.Twitter:hover{
  background-color: var(--twitter);
  border-radius: 40px;
}
#menu-mobile,
.x{
  display: none;
}



@media (min-width: 768px) {

  .header{
    background-image: url(../public/assets/images/background-register-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position: bottom;
  }

  .hamburguer{
    margin-top: 250px;
  }
  .hamburguer h1{
   margin-left: 40px;
   font-size: 40px;
  }
  .hamburguer b{
  font-size: 40px;
  }

}


@media (min-width: 1670px) {
  .header {
    background-size: cover;
    height: 600px;
    background-position: bottom;
  }

  .hamburguer{
    margin-top: 400px;
  }
  .hamburguer h1{
   margin-left: 60px;
   font-size: 50px;
  }
  .hamburguer b{
  font-size: 50px;
  }


}
