@font-face {
    font-family: "h1";
    src: url(../public/assets/fonts/Montserrat/Montserrat-Medium.ttf);
  }
  @font-face {
    font-family: "light";
    src: url(../public/assets/fonts/Montserrat/Montserrat-Light.ttf);
  }
  
  @font-face {
    font-family: "Regular";
    src: url(../public/assets/fonts/BebasNeue/BebasNeue-Regular.otf);
  }
  @font-face {
    font-family: "Monts";
    src: url(../public/assets/fonts/Montserrat/Montserrat-Light.ttf);
  }
  @font-face {
    font-family: "Medium";
    src: url(../public/assets/fonts/Montserrat/Montserrat-Medium.ttf);
  }
  
  .header {
    background-image: url(../public/assets/images/background-register-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: bottom;
  }
  .hamburguer {
    margin-top: 200px;
  }
  .hamburguer h1 {
    color: white;
    font-size: 4vw;
    margin-left: 50px;
  }
  .hamburguer b {
    color: yellow;
  }
  
  .section {
    width: 100%;
  }
  .sub-text h2 {
    text-align: center;
    color: red;
    margin: 50px auto;
  }
  .sub-text b {
    color: #737373;
  }
  .burguer {
    display: flex;
  }
  .text h2 {
    color: black;
    font-family: "h1";
    font-size: 2em;
    margin: 90px 0 0px;
  }
  .text h3 {
    color: red;
    font-family: "h1";
    font-size: 3em;
    margin: 0;
  }
  .text p {
    color: black;
    font-family: "h1";
  }
  .burguer img {
    max-width: 100%;
  }
  .cardapio {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0;
  }
  .cardapio img {
    max-width: 55%;
  }
  .cardapio h3 {
    color: red;
    font-size: 27pt;
    margin-bottom: 5px;
  }
  .cardapio p {
    width: 70%;
    margin: auto;
  }
  .cardapio > div {
    flex: 400px;
    margin: 20px;
    text-align: center;
  }
  .acompanhamentos {
    display: flex;
    flex-wrap: wrap;
  }
  .acompanhamentos img {
      text-align: center;
      max-width: 65%;
  }
  .acompanhamentos > div {
      flex: 300px;
      margin: 20px;
      text-align: center;
    }
    .acompanhamentos h3 {
      color: red;
      font-size: 27pt;
      margin-bottom: 5px;
    }
    .combo{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .combo h3{
        font-size: 29pt;
        margin: auto;
    }
    .combo b{
        color: red;
        
      font-size: 100px;
    }
    .combo img{
        max-width: 80%;
    }
    #menu-mobile,
.x{
  display: none;
}
@media (max-width: 1200px) {

    #menu-mobile{
      display: contents;
      height: 45px;
    margin: 25px;
    }
    .x{
      display: block;
      text-align: end;
    }    
    .net-nav{
      display: none;
    }
    .redes-nav{
      display: none;
    }
  
    .logo{
      margin: auto 0 0 10%;
      width: 90%;
  
    }
}
  @media (max-width: 910px) {
    .header {
      background-image: url(../public/assets/images/background-register-mobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      background-position: bottom;
    }
    .burguer {
      display: block;
      margin: auto;
      text-align: center;
    }
    .text h2 {
      margin: auto;
    }
    .cardapio {
      margin: 150px 0;
    }
  
    .text p {
      color: black;
      font-family: "h1";
      width: 95%;
      margin: auto;
    }
  }