.modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;

}  
.container1{
            background-color: white;
            color: white;
            width: 60%;
            height: 60%;
}
.close{
  width: 5%;
}
.close img{
  width: 100%;
}
.content{
    width: 70%;
    margin: auto;
}


/* Bordered form */
.form {
    border: 3px solid #f1f1f1;
    background-color: white;
  }
  
  /* Full-width inputs */
  .input[type=text], .input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  .button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  .button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: red;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  .avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  .psw {
    float: right;
    padding-top: 16px;
  }
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    .span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }