

.duvidas{
  text-align: center;
  background-color: var(--black);
  font-family: Montserrat;
}

.duvidas h2{
  color: var(--white);
  margin: 0 auto;
  width: 80%;
  font-size: 20px;
}

.formulario {
  background-image: url(../public/assets/images/background-contact.png);
  height: auto;
  background-size: cover;
  position: relative;
  top: -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.burguer{
position: relative;
margin-top: 30px;
width: 80vw;
padding: 2em;

}
.burguer img{
  max-width: 100%;
}

.form{
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
width: 90%;
}

#nome, 
#email,
#numero{
  width: 85%;
  margin: 25px;
  height: 45px;
  text-align: center;
  
}

#mensagem{
  text-align: center;
width: 85%;
margin: 25px;
height: 230px;
}

.btn{
  background-color: var(--yellow);
width: 25%;
height: 35px;
border: none;
}

.textOrange {
  color: var(--yellow);
  }

.outros {
  font-family: Montserrat;
  color: var(--red);
  text-align: center;
  margin: 0;
  padding: 0;
  width: auto;
  font-size: 40px;
}


.flex{
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Montserrat;
}

.telefone-chef{
  margin: auto 0; 
  width: 100%;
}

.telefone-chef h4,
.email-chef h4{
color: var(--red);
font-size: 30px;
margin: 25px 0 0;
}

.telefone-chef h5,
.email-chef h5{
font-size: 15pt;
margin: 10px;

}

.email-chef{
  margin: auto 0; 
  width: 100%;
}
.onions {
text-align: center;
margin: 30px;
}
.onions img{
max-width: 60%;
}

.field h3{
color:  var(--yellow);
font-size: 20px;
}


@media (min-width: 768px) {
  .duvidas h2{
    font-weight: 200;
    padding: 0 2em;
    padding-top: 2em;
  }

  .burguer{    
    width: 50vw;    
    }

    .field h3{
      color:  var(--yellow);
      font-size: 25px;
      }

    .onions img{
        max-width: 40%;
        }
}

@media (min-width: 1024px) {

.duvidas h2{
    
    margin: 0 auto;
    padding: 1em;
    font-size: 30px;
}
  .formulario {
      background-image: url(../public/assets/images/background-contact.png);
      height: auto;
      background-size: cover;
      position: relative;
      top: -2px;
      display: flex;
      flex-direction: row;
  }

  .burguer{
    position: relative;
    text-align: right;
    width: 100vw;
  }
  .burguer img{
      max-width: 100%;
  }
  .form{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }
  #nome, 
  #email,
  #numero{
      width: 85%;
      margin: 25px;
      height: 45px;
      text-align: center;
  }
  #mensagem{
      text-align: center;
    width: 85%;
    margin: 25px;
    height: 230px;
  }
  .btn{
      background-color: #fbbb1d;
    width: 25%;
    height: 35px;
    border: none;
  }

.flex{
    display: flex;
    flex-direction: row;
    margin: 3em 0;
    padding: 0;
}
.telefone-chef{
    width: 50%;
    text-align: center;
}
.telefone-chef h4,
.email-chef h4{
    font-size: 30px;
    
}
.telefone-chef h5,
.email-chef h5{
    font-size: 15pt;
    

}

.email-chef{
    text-align: center;
    width: 25%;
}
.onions {
  
 position: relative;
 margin: 0;
 padding: 0;
}
.onions img{
    max-width: 60%;
}
.outros h4{
    font-size: 40pt;
    
}

.field h3{
    font-size: 25px;
}

}


@media (min-width: 1200px) {

  .burguer {
    width: 80vw;
  }

  .field h3{
    font-size: 20px;
}


}

@media (min-width: 1920px) {
 
  .form {
    margin-left: 2em;
  }

  .burguer {
    margin-right: 3em;
  }

}



/*
.duvidas{
  text-align: center;
  background-color: black;

}
.duvidas h2{
  color: white;
  margin: 0 auto;
  width: 70%;
  font-size: 34px;
}
.formulario {
    background-image: url(../public/assets/images/background-contact.png);
    height: auto;
    background-size: cover;
    position: relative;
    top: -2px;
    display: flex;
}

.burguer{
  margin-top: 50px;
}
.burguer img{
    max-width: 100%;
}
.form{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}
#nome, 
#email,
#numero{
    width: 70%;
    margin: 25px;
    height: 45px;
    text-align: center;
}
#mensagem{
    text-align: center;
  width: 85%;
  margin: 25px;
  height: 230px;
}
.btn{
    background-color: #fbbb1d;
  width: 25%;
  height: 35px;
  border: none;
}
.textOrange {
color: darkgoldenrod;
}
.flex{
  display: flex;
  margin: 0 70px;
}
.telefone-chef{
  width: 50%;
  text-align: center;
}
.telefone-chef h4,
.email-chef h4{
  color: red;
  font-size: 15px;
  margin: 25px 0 0;
}
.telefone-chef h5,
.email-chef h5{
  font-size: 20pt;
  margin: 10px;

}

.email-chef{
  text-align: center;
  width: 25%;
}
.onions {
text-align: end;
}
.onions img{
  max-width: 60%;
}
.field h3{
color:  #fbbb1d;
font-size: 20px;
}
.outros h4{
  font-size: 39pt;
  margin: 35px 0 0 65px;
  color: red;
}
@media(max-width: 1000px){

.duvidas h2{
  width: 95%;
}
  .burguer{
      display: none;
  }

  .outros{
      text-align: center;
  }
  .form{
    width: 100%;
  }
  .flex{
      display: block;
      width: 100%;
      margin: 0;
  
  }
  .telefone-chef,
  .email-chef{
  text-align: center;
   width: 100%;
  
  }


}

@media(max-width: 800px){
  .onions {
    display: none;
  }
      
  .outros h4{
    font-size: 39pt;
    margin:  auto 0;
    color: red;
}
  }

  */