@font-face {
  font-family: "h1";
  src: url(../public/assets/fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "light";
  src: url(../public/assets/fonts/Montserrat/Montserrat-Light.ttf);
}
.header{
  background-image: url(../public/assets/images/background-contact-dektop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-position: bottom;
}

.hamburguer {
  margin-top: 200px;
}
.hamburguer h1 {
  color: white;
  margin-left: 50px;
}
.hamburguer b {
  color: yellow;
}
.duvidas{
  text-align: center;
  background-color: black;

}
.duvidas h2{
  color: white;
  margin: 0 auto;
  width: 70%;
  font-size: 34px;
}
.formulario {
    background-image: url(../public/assets/images/background-contact.png);
    height: auto;
    background-size: cover;
    position: relative;
    top: -2px;
    display: flex;
}

.burguer{
  margin-top: 50px;
}
.burguer img{
    max-width: 100%;
}
.form{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}
#nome, 
#email,
#numero{
    width: 70%;
    margin: 25px;
    height: 45px;
    text-align: center;
}
#mensagem{
    text-align: center;
  width: 85%;
  margin: 25px;
  height: 230px;
}
.btn{
    background-color: #fbbb1d;
  width: 25%;
  height: 35px;
  border: none;
}
.textOrange {
color: darkgoldenrod;
}
.flex{
  display: flex;
  margin: 0 70px;
}
.telefone-chef{
  width: 50%;
  text-align: center;
}
.telefone-chef h4,
.email-chef h4{
  color: red;
  font-size: 15px;
  margin: 25px 0 0;
}
.telefone-chef h5,
.email-chef h5{
  font-size: 20pt;
  margin: 10px;

}

.email-chef{
  text-align: center;
  width: 25%;
}
.onions {
text-align: end;
}
.onions img{
  max-width: 60%;
}
.field h3{
color:  #fbbb1d;
font-size: 20px;
}
.outros h4{
  font-size: 39pt;
  margin: 35px 0 0 65px;
  color: red;
}
@media(max-width: 1000px){

.duvidas h2{
  width: 95%;
}
  .burguer{
      display: none;
  }

  .outros{
      text-align: center;
  }
  .form{
    width: 100%;
  }
  .flex{
      display: block;
      width: 100%;
      margin: 0;
  
  }
  .telefone-chef,
  .email-chef{
  text-align: center;
   width: 100%;
  
  }


}

@media(max-width: 800px){
  .onions {
    display: none;
  }
      
  .outros h4{
    font-size: 39pt;
    margin:  auto 0;
    color: red;
}
  }