.card {
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    background-color: grey;
}

.card-content {
    padding: 10px 20px;
    align-items: center;
    flex-direction: column;
}

.actions {
    justify-content: flex-end;
    background-color: gray;
    width: 100%;
    padding: 10px;
}

.actions button {
    border: none;
    background: white;
    text-transform: uppercase;
    color: green;
    border: 1px solid green;
    border-radius: 4px;
    padding: 16px;
}